/*
 *	Mixins
 */

/*
 *	Fonts
 *

	Font size REM maker
	/via http://guyroutledge.co.uk/blog/simplify-font-size-with-rems/

	e.g:

	.thing {
		@include font-size(20);
	}

	outputs:

	.thing {
		font-size:20px;
		font-size:2rem;
	}

*/

@mixin font-size( $font-size ) {
	font-size: $font-size * 1px;
	font-size: $font-size / 16 * 1rem;
}
