/*
 *	Mixins
 *
 *	ToC:
 *		font-size
 *		Arrows
 *		Inline text background
 */

/*
 *	font-size
 *

	Font size REM maker
	/via http://guyroutledge.co.uk/blog/simplify-font-size-with-rems/

	e.g:

	.thing {
		@include font-size(20);
	}

	outputs:

	.thing {
		font-size:20px;
		font-size:2rem;
	}

*/

@mixin font-size( $font-size ) {
	font-size: $font-size * 1px;
	font-size: $font-size / 16 * 1rem;
}


/*
 *	Arrows
 *	Based http://codepen.io/MichaelArestad/pen/IxFGj with enhancements
 *
 */

@mixin arrow( $direction: right, $size: 10px, $color: #ccc, $center: 50%, $margin: -1px, $pseudo: after ){
	position: relative;
	border-color: $color;

	&:#{$pseudo} {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-color: $color;

		@if $direction == "right" {
			top: $center;
			left: 100%;
			margin-left: $margin - $size;
			margin-top: $size * -1;
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-left: $size solid $color;
			border-left-color: inherit;
		} @else if $direction == "down" {
			top: 100%;
			left: $center;
			margin-top: $margin;
			margin-left: $size * -1;
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-top: $size solid $color;
			border-top-color: inherit;
		} @else if $direction == "left" {
			top: $center;
			right: 100%;
			margin-right: $margin;
			margin-top: $size * -1;
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-right:$size solid $color;
			border-right-color: inherit;
		} @else {
			bottom: 100%;
			left: $center;
			margin-bottom: $margin;
			margin-left: $size * -1;
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-bottom: $size solid $color;
			border-bottom-color: inherit;
		}
	}
}


/*
 *	Inline text background
 *	A colored background that wraps around multi-line text
 *	/via http://css-tricks.com/multi-line-padded-text/
 *

	e.g:

		<h2 class="this-thing"><span>A heading</span></h2>

	use:

		.this-thing {
			@include inline-text-bg( 0.2em, #fff );
		}

*/

@mixin inline-text-bg( $padding, $bg-color ) {
	background-color: $bg-color;
	box-shadow: $padding 0 0 $bg-color, -$padding 0 0 $bg-color;
	display: inline;
	padding: $padding;
	padding-left: 0;
	padding-right: 0;

	span {
		position: relative;
		z-index: 2;
	}
}
