/*
 *	Global variables
 */

/*
 *	Padding, margins, border-radius and spacing
 */

$master-padding: 40px;

$master-radius: 10px;

$edge-width: 10px;


/*
 *	Viewports and mobile sizes
 */

$step-down-1: 1023px;


/**
 *	Fonts
 */

$brand-font-light: "Futura-Lig", Futura, Arial, sans-serif;

$brand-font-bold: "Futura-Bol", Futura, Arial, sans-serif;

$base-font-size: 16px;


/**
 *	Colors
 */
