<footer class="global-footer">

	<div class="global-footer__footnote">

		<p>Copyright &copy; {{ global.brand }} <a href="{{ global.url }}">Privacy and cookies</a> <a href="">Terms and conditions</a></p>

	</div>

</footer>

<script src="assets/js/main.js"></script>

</body>
</html>
