<ul class="nav navbar-nav">
  <li{{#is basename "getting-started"}} class="active"{{/is}}>
	<a href="getting-started.html">Getting started</a>
  </li>
  <li{{#is basename "css"}} class="active"{{/is}}>
	<a href="css.html">CSS</a>
  </li>
  <li{{#is basename "components"}} class="active"{{/is}}>
	<a href="components.html">Components</a>
  </li>
  <li{{#is basename "js"}} class="active"{{/is}}>
	<a href="javascript.html">JavaScript</a>
  </li>
  <li{{#is basename "customize"}} class="active"{{/is}}>
	<a href="customize.html">Customize</a>
  </li>
</ul>